
@{
    ViewData["Title"] = "";
}

<h2 style="text-align: center"> <b>Welcome to Remind Me!</b></h2>
<br />
<br />
<br />
<p> Welcome to Reminde Me, the easy to use, premier service for keeping track of your busy schedule!</p>
<br />
<p>How it works:</p>
<ul>
    <li> Register to begin using the service</li>
    <li> This will take you to your home page</li>
    <li> On your home page, you can schedule and view your events and reminders</li>
    <li> You can schedule how soon and how often you want to receive a reminder when you add an event</li>

</ul>
<br />
<br />
<br />
<h2 style="text-align: center"><b>It's as simple as that!!</b></h2>

<br />
<br />
<br />

<p><a asp-controller="RemindMe" asp-action="RegisterUser">Register</a> or <a asp-controller="RemindMe" asp-action="UserLogIn">LogIn</a> to get started</p> 


