

<h1>My Cheeses</h1>

@if (ViewBag.list.Count == 0)
{

    <p>No Cheeses Yet!</p>

}

    <form method="Post" action="/Cheese/Delete" >


        @for (int i = 0; i < ViewBag.list.Count; ++i)
    {


        <input  name ="cheese" type="checkbox" value="@ViewBag.list[i].Name"/>
        <label for="cheese">@ViewBag.list[i].Name</label>

        <br />


}
        @if (ViewBag.list.Count > 0)
    {
        <input type="submit" value="Delete" />

}




    </form>
