
@{
    ViewData["Title"] = "";
}

<h2 style="text-align: center"> <b>Welcome to Remind Me!</b></h2>
<br />
<br />
<br />
<p> Welcome to Reminde Me, the easy to use, premier service for keeping track of your busy schedule!</p>
<br />
<p>How it works:</p>
<ul>
    <li> Register to begin using the service</li>
    <li> This will take you to your home page</li>
    <li> On your home page, click on Add google calendar email ID</li>
    <li> Also enter the cell phone number you want to receive reminder texts on</li>
    <li> After your email id and cell phone number are added you can add events and view events</li>
    <li> You can schedule how often and how soon you want to receive a reminder when you add an event to your calendar</li>

</ul>
<br />
<br />
<br />
<h2 style="text-align: center"><b>It's as simple as that!!</b></h2>

<br />
<br />
<br />

<p><a asp-controller="RemindMe" asp-action="RegisterUser">Register</a> or <a asp-controller="RemindMe" asp-action="LogIn">LogIn</a> to get started</p> 


