
@{

    Layout = null;
}


<h1>AddCheese</h1>
<form method="post">
    <label for="cheese">Enter Cheese</label>
    <input id="cheese" name="name" type="text" />
    <input type="submit" value="Add Cheese" />
    <br />
    <br />
    <textarea placeholder="Enter description of cheese here..." rows="4" cols="50" name="descript"></textarea>
</form>

