@{
    
   }

<h1>My Cheeses</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

<p><a asp-controller="Cheese" asp-action="Delete">Delete Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{

    <p>No Cheeses Yet!</p>

}

    <ul>
        @foreach (Cheese item in ViewBag.cheeses) 
    {


        <li> Cheese Name: @item.Name </li>
        <li> Description: @item.Description </li>
        
        
    }

    </ul>
    